html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #a7c5eb;
  
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: black;
  padding: 20px;

}

.center-align {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #a7c5eb;
  
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

/*.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.mt-5 {
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
}


.split {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
  padding-right: 20px;




}

/* Control the left side */
.left {
  left: 0;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 40px;
  bottom: 20px;
  left: 10px;
  background-color: #a7c5eb;
  text-align: justify;
}

/* Control the right side */
.right {
  position: absolute;
  right: 100px;
  top: 40px;
  bottom: 20px;
  width: 80%;
  height: 100%;
  background-color: #c9cbff;
  margin: 0px -100px 0px 0px;
  padding-top:50px;
  
}

.navigation {
  position: absolute;
  top: 200px;
  left: 20px;
  text-align: justify;

}

.tablestyle {
  width: 90%;
  margin: 20px;


}

split2 {
  height: 50%;
  width: 45%;
  position: fixed;
  z-index: 1;
  top: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 20px;

}


.upcomingappointment {
  position: absolute;
  left: -20px;
  top: 110px;
  width: 45%;
  height: 90%;
  text-align: justify;
  margin: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.pastappointment {
  position: absolute;
  right:-20px;
 
  top: 110px;
  width: 45%;
  height: 90%;
  text-align: justify;
  margin: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.apt {
  position: absolute;
  right: 500px;
  bottom: 50px;
  z-index: 1;
}

